PORT=4000
DESTINOS_URL=http://localhost:4001
ALOJAMIENTO_URL=http://localhost:4002
GASTRONOMIA_URL=http://localhost:4003
EXPERIENCIAS_URL=http://localhost:4004
EVENTOS_URL=http://localhost:4005
BUSCADOR_URL=http://localhost:4006
